<!DOCTYPE html>
<html ng-app="listaTelefonica"lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Telefonica</title>
    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"crossorigin="anonymous"/>
   <!-- Link Css -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <!-- Link angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.js"></script>
    <!-- <script src="/lib/Angular/angular.js"></script>
    <script src="/lib/Angular/angular-locale_pt-br.js"></script> -->
    <!-- AngularJs -->
    <script src="js/app.js"></script>
    <script src="js/controllers/listaTelefonicaCtrl.js"></script>
    <script src="js/services/contatosAPIservices.js"></script>

 </head>

  <body >
    <div ng-controller="listaTelefonicaCtrl">
      <div class="jumbotron">

        <h3 class="title">{{app}}</h3>
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O Que voce está buscando?" >
        <!-- Table -->
        <table class="table table-striped" >
          <tr>
            <th></th>
            <th><a href="#" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th>operadora</th>
            <th>Data</th>
          </tr>
          <tr ng-class="{'selecionado negrito':contato.selecionado}" ng-repeat="contato in contatos | limitTo:10 | filter:{nome:criterioDeBusca } | orderBy: criterioDeOrdenacao: direcaoDaOrdenacao">  <!--ordem +ou-->
            <td><input type="checkbox"ng-model="contato.selecionado"/></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone }}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            <!-- <td><div style="width: 20px; height: 20px"ng-style="{'background-color':contato.cor}"></div></td>-->
          </tr>
        </table>
          <!-- Campos //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <hr/>
        <form name="contatoForm">
          <input class="form-control"type="text"ng-model="contato.nome"name="nome" placeholder="Nome" ng-required="true" ng-minlength="6" />
          <input class="form-control"type="text"ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
          <select class="form-control" ng-model="contato.operadora" ng-options="(operadora.nome + ' (' + (operadora.preco | currency) + ')') for operadora in operadoras | orderBy:'nome'" ng-required="true">
              <option value="">Selecione uma operadora</option>
          </select>
        </form>
        <!-- Alerts -->
        <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error" >
            <div ng-message="required" class="alert alert-danger" >Por favor,preencha o campo nome</div>
            <div ng-message="minlength"class="alert alert-danger" >O campo deve conter 6 caracteres no minimo!!</div>
        </div>
        <div ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">
          <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">Por favor,Preencha o campo telefone</div>
          <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">O campo telefone deve ter o formato DDDD-DDDD.</div>
        </div>
        <!-- Buttons -->
        <button class="btn btn-light btn-block"ng-click="addContato(contato)"ng-disabled="contatoForm.$invalid">Adicionar Contatos</button>
        <button class="btn btn-light btn-block"ng-click="apagarContatos(contatos)"ng-if="isContatoSelecionado(contatos)">Delete Contatos</button><br/>
      </div>

    <!-- footer -->
    <div ng-controller="footer" ng-include="'view/footer.html'"></div>

  </body>
</html>